#slides {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slides_control {
  display: flex;
  transition: left 0.5s ease-in-out;
  position: relative;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
  display: none; /* Only the active slide should be displayed */
}

.slide img {
  width: 100%;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 3px;
}
